name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  pull-requests: read

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: "download galactic-amd64"
        uses: actions/download-artifact@v4
        with:
          name: galactic-amd64
      - name: "download galactic-arm64"
        uses: actions/download-artifact@v4
        with:
          name: galactic-arm64
      - name: package
        run: |
          mkdir package
          for arch in amd64 arm64; do
            cp galactic-${arch} package/galactic-cli_${arch}
            cp galactic-${arch} package/galactic-cni_${arch}
          done
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          generate_release_notes: true
          files: |
            package/*
